<!DOCTYPE html>
<html>
<head>
  <title>Callee</title>
</head>
<body>
  <h1>callee</h1>
  <script>
    var offer_url="http://127.0.0.1:8000/offer"
    var answer_url="http://127.0.0.1:8000/answer"
    var make_room_url="http://127.0.0.1:8000/makeroom/"
    var channel='keyvanChannel'
    var source = new EventSource("{{ url_for('sse.stream') }}");
    source.addEventListener('offer', function(event) {
        const configuration = {'iceServers': [{'url': 'stun:stun.services.mozilla.com'}, {'url': 'stun:stun.l.google.com:19302'}]};
        const pc = new RTCPeerConnection(configuration);
        var data = JSON.parse(event.data);
        console.log("caller sdp is :",JSON.parse(data.offer))
        pc.setRemoteDescription(new RTCSessionDescription(JSON.parse(data.offer)))
        pc.createAnswer().then(function(answer){          
            pc.setLocalDescription(new RTCSessionDescription(answer));
            var stringifiedAnswer=JSON.stringify(answer)
            // sendAnswer(answer_url, stringifiedAnswer)
            
            var xhr = new XMLHttpRequest();
            xhr.open('POST',answer_url);     
            xhr.send(stringifiedAnswer);
        })
    }, false);
    source.addEventListener('error', function(event) {
    }, false);

    

    function makeRoom(id){
        var xhr = new XMLHttpRequest();
        xhr.open('POST',make_room_url + id );     
        xhr.send(channel)
    }
  </script>

    <h5>
        staus:
    </h5>


<button onclick="makeRoom(13)">
    create Room 13
</button>

</body>
</html>