<!DOCTYPE html>
<html>
<head>
  <title>caller</title>
</head>
<body>
  <h1>caller</h1>
  <script>
    const configuration = {'iceServers': [{'url': 'stun:stun.services.mozilla.com'}, {'url': 'stun:stun.l.google.com:19302'}]};
    const pc = new RTCPeerConnection(configuration);
    var offer_url="http://127.0.0.1:8000/offer/"
    var channel="steveChannel"
    var source = new EventSource("{{ url_for('sse.stream') }}");
    source.addEventListener('answer', function(event) {
        var data = JSON.parse(event.data);
        // alert("The server says " + data.message);
        console.log("callee sdp is :",JSON.parse(data.answer))
        if (source.readyState == 2) {pc.setRemoteDescription(new RTCSessionDescription(JSON.parse(data.answer)))}
    }, false);
    source.addEventListener('error', function(event) {
       // alert("Failed to connect to event stream. Is Redis running?");
    }, false);

    function sendOffer(url,room){
      console.log("sending offer")
      var xhr = new XMLHttpRequest();
      xhr.open('POST', url + room );     
      // pc.onicecandidate = ({candidate}) => signaling.send({candidate});
      pc.createOffer().then(function(offer) {
          pc.setLocalDescription(new RTCSessionDescription(offer));
          stringifiedOffer = JSON.stringify(offer);
          xhr.send(stringifiedOffer)
          

        });
}   

  </script>

    <h5>
        staus:
    </h5>

    <button onclick="sendOffer(offer_url,13)">
      join room 13
    </button>

    <h1 id="status">
        
    </h1>

</body>
</html>